<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="Content-Security-Policy" content="default-src ; style-src 'self' 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval'; child-src *">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    
   -->
  



    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <title>Document</title>
    

</head>
<body>
  <div class="container">
    <nav class=" grey darken-3">
        <div class="nav-wrapper">
          <a href="#" class="logo">Activity logger</a>
          <ul id="nav-mobile" >
            <li><a href="/activities/new" class="hide-on-med-and-down">New Activity</a></li>
            <li><a href="/users/new" class="hide-on-med-and-down">New User</a></li>
            <li><a href="/activities/" class="hide-on-med-and-down">All activities</a></li>
            <li><a href="/users" class="hide-on-med-and-down">All users</a></li>
            <li><a href="/">Home</a></li>
            <li>
              <!-- changed user to logger and it worked!!! -->
              <% if(user){ %>
                  <a href="/logout"><i class="material-icons left">trending_flat</i>Logout <% user.name%></a>
               <%} else { %> 
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login </a>  
            <%   } %>
            </li>
          </ul>
        </div>
          
      </nav>
      <main>
          <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

      
</body>
</html>