<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styleshee/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Activity logger</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/activities/new">New Activity</a></li>
            <li><a href="/users/new">New User</a></li>
            <li><a href="/activities/">All activities</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
      <main>
    
</body>
</html>