    <%- include('../partials/header') %>

    <h1>Your Activitis so far...</h1>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">date</th>
            <th scope="col">Add Note</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
          <% activities.forEach(function(activity){%>
            <tr>
              <td><%= activity.title %></td>
              <td><%= activity.duration.toLocaleDateString() %></td>
              <!-- <td><%= activity.action ='true' ? 'done' : 'not done'  %></td> -->
            </tr>

          <% }) %>
          
        </tbody>
      </table>

