<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome</h1>
    <div id="new-activity"><a href="/activities/new">Add new Activity</a></div>
    <div id="Activities-planned"><a href="/activities/">See Your activities</a></div>
    <!-- <div id="all-activities"> AllActivities</div> -->
</body>
</html>