
<%- include('partials/header') %>

<body>
    <h1>Welcome</h1>
    <div id="new-activity"><a href="/activities/new">Add new Activity</a></div>
    <div id="Activities-planned"><a href="/activities/">See Your activities</a></div>
    <!-- <div id="all-activities"> AllActivities</div> -->


