
<%- include('partials/header') %>
<!-- <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" /> -->

<body>
  <div class="row">
    <div class="typewriter"> 
      <h1 >Welcome to your activity tracker app </h1>

    </div>
  </div>
<div id="index" class="sScreen" >
  <div class="cols">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Activity</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="/activities/new" class="btn btn-success bg-success"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
  <div class="cols">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Activities</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="/activities/" class="btn btn-success bg-success"><i class="material-icons">chrome_reader_mode</i></a>
      </div>
    </div>
  </div>

</div>