
<%- include('partials/header') %>

<body>
    <h1>Welcome</h1>
    <!-- <div id="new-activity"><a href="/activities/new">Add new Activity</a></div>
    <div id="Activities-planned"><a href="/activities/">See Your activities</a></div> -->
    <!-- <div id="all-activities"> AllActivities</div> -->

<div id="index" class="row center-cols center-align">

    <div id="item1"  class="col l6 ">
        <div >
          <div class="card">
            <div class="card-image">
              <img src="https://images.creativemarket.com/0.1.0/ps/2714104/1360/906/m1/fpnw/wm1/u6ui0rh32efce24lz00xcic5bocqlhwxfhdhzmfgtow7cwjsejiw8fsq1e52fgqk-.jpg?1495205566&s=89af8f992ccf5bcd44d9caa578278d10">
            </div>
            <div class="card-action">
              <a href="/activities/"  class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">chrome_reader_mode</i>></a>
            </div>
          </div>
        </div>
      </div>


      <div id="item2" class="col l6 " >
        <div class="col ">
          <div class="card">
            <div class="card-image card2">
              <img src="http://cdn.home-designing.com/wp-content/uploads/2017/01/indoor-plants-Xerosicyos-danguyi-600x600.jpg" alt="Image not displayed">
            </div>
            <div class="card-action">
              <a href="/activities/new"  class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i>New Activity</a>
            </div>
          </div>
        </div>
      </div>

<!-- 
      <div id="item3" >
        <div class="col ">
          <div class="card">
            <div class="card-image">
              <img src="../images/tw.jpeg">
            </div>
            <div class="card-action">
              <a href="/activities/">See Your Activities</a>
            </div>
          </div>
        </div>
      </div> -->

</div>