


*{
    margin: auto;
    padding:auto;
    /* background-color:red; */
}


.nav-wrapper > ul > li > a {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold; 
    font-size:1rem;
 }
.table{
   font-weight: bold; 

}


.nav-wrapper > a{
    margin-left:1px;
    font-size:1.5rem;
}
.nav-wrapper > ul > li {
    padding:0;
    margin:0;

}
.nav-wrapper > ul {
    display:flex;
    margin-left:auto;
    

}



.card{
    border-radius:1rem; 
    margin:auto;
}
 .newActivity > form{
    margin-top:3rem;
    display:flex;
    flex-direction: column;
}
/* .nav-wrapper > ul{
    margin-left: 40rem;;

} */
a{
    padding:0%
}
#index{
    display:flex;

}
.card{
    width:25rem;
    height:10rem;
}
.card-body{
    padding:2rem;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.card-body> .card-title{
    justify-content: center;
    margin:auto;
    margin-bottom: 1rem;
    
}

form > #notebutton{
    border:1px solid black;
    padding:auto;
    border-radius:30%;
    width:25%;
    /* color:red; */
}
#notesPart{
padding:2rem;
margin-bottom:4rem;

}

#notesFirst{
    display:flex;
    flex-direction:column;
    width:50%;
}

#notes{
    display:flex;
    flex-direction:column;
}
.seection{
    display:flex;
    flex-direction:column;
    padding:2rem;
    margin-top:4rem;
}
.section > ul >  .input-field > select{
    margin-top:2rem;
}
/* .card2{
height:363px;
}
.card{
    border:1px solid black; 
    /* min-height:450px;  */
    /* max-height:450px;
    height:41rem;

    }
    .card > .card-image{
        height:31rem;
    } */ */

    section{
        margin-top: 50px;
    }


/* .card > .card-image{
    height:41rem;
}
.card-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:6rem;

} */

/* .card > .card-image  > img{
    height: 25rem;
}
.card-action > a {
    margin:auto;
}
.col{
    padding:auto;
    margin:auto;;
} */
/* .row > .col {
    float:none;
} */
h1{
    margin-top:2rem;
    margin-bottom:1rem;
    display:flex;
    justify-content:center;
}
h4{
    margin:0;
}

/* #index{
    display:grid;
    grid-column-gap: 50px;

}
#item1{
    grid-column-start: 1;
    grid-column-end: 2;

}

#item2{
    grid-column-start: 2;
    grid-column-end: 4;

} */


@media (max-width: 768px) {


   div > #index{
        display:flex;
        flex-direction: column;
    }

nav{
    margin-bottom:1rem;
}


.container{
    width:100vw;
}

nav > a {
    font-size:1rem;
}
.nav-wrapper{
    display:flex;
    flex-direction:row;
    /* width: 41rem; */

}

nav > .nav-wrapper > ul {
    margin-left:0;
    font-size:1rem;
    /* margin-right:5rem;; */
    /* position:absolute; */
}
/* .brand-logo{
    width:22rem;
} */
/* nav > .nav-wrapper{
    height:6rem;
} */
.nav-mobile{
    margin:auto;
}
main{
    display:flex;
    flex-direction:column
}
h1{
    margin:auto;
    /* margin-top:2rem; */
    justify-content:center;
}

#index{
    display:flex;
    flex-direction:column;
}
.col-sm-6{
    width:100%;
}
.card{
    width:100vw;
}






}