*{
    margin: auto;
}
.card2{
height:363px;
}
.card{
    border:1px solid black; 
    min-height:450px; 
    max-height:450px
    }

    section{
        margin-top: 50px;
    }
/* #index{
    display:grid;
    grid-column-gap: 50px;

}
#item1{
    grid-column-start: 1;
    grid-column-end: 2;

}

#item2{
    grid-column-start: 2;
    grid-column-end: 4;

} */
