*{
    margin: auto;
}



/* #index{
    display:grid;
    grid-column-gap: 50px;

}
#item1{
    grid-column-start: 1;
    grid-column-end: 2;

}

#item2{
    grid-column-start: 2;
    grid-column-end: 4;

} */
